<div class="container">
<br>
<div class="row">
	<div class="col">
		<h5>Pascales Dedy Kurniawan </h5>
		<h3>QA and Back End Engineer</h3>
		<p> I am a QA and also a Backend Developer specialized in Rails API server and Rails Applications </p>
		<p> Currently I'm still learning Python-Tensorflow and Data processing</p>
	</div>
<div class="col">
<li><i>Email: pascales.dedy@gmail.com </i></li>
<li><i>Linkedin: linkedin.com/in/pascalesdedy</i></li>
<li><i>Skype: pascales.kurniawan </i></li>
<li><i>Facebook: facebook.com/pascalesdedy.kurniawan</i></li>
<li><i">Github: github.com/pascalesdedy </i></li>
<li><i>Medium: medium.com/@pascales</i></li>
<li><i>Instagram: instagram.com/pascales.dedy</i></li>
</div>
</div>
<div class="row">
	<div class="col">
	<h4>WORK EXPERIENCE</h4> 
	<h3>Senior Quality Assurance @PT Gameloft Indonesia</h3>
	<p><i>12/2013 – Present, Yogyakarta</i></p> 
	<p>As a member of Gameloft’s major Quality Assurance team, I participate
		in the testing process to ensure the quality of Gameloft's top-rated
		mobile games. Working closely with producers and programmers from
		the beginning to the end of game production cycle, I have an in-depth
		vision of video games on a wide range of mobile phones
	</p>
		<h3>Projects: </h3>	
		<li>Modern Combat Versus</li>
		<li>Asphalt: Street Storm Racing</li>
		<li>Gods of Rome</li>
		<li>March of Empires</li>
		<li>Ice Age Avalanche</li>
		<li>The Amazing Spiderman</li>
		<li>Total Conquest</li> 
		<li>Kingdom and Lords</li>
	</p>
	<h3>Freelance Tester @Global App Testing.inc</h3>
	<p><i>07/2017 – Present, Yogyakarta</i></p>
	<p>
		Founded in 2014, Global App Testing has worked with some of the best
		tech teams and companies in the world to improve their products. Teams
		such as Facebook, Microsoft, Dropbox and Spotify rely on us to deliver
		QA results that matter.
	</p>
	<h3>Projects: </h3>
	<p>
		Testing various mobile Application ( Facebook Lite,
		Instagram, etc )
	</p>
	<h3>Volunteer writer @Binar Publication at Medium</h3>
	<p><i>04/2018 – Present </i></p>
	</div>
	<div class="col">
	<h4> Skills</h4>
		<div class="containerskill">
		  	<div class="skills html">90%</div>
			</div>
			<p>Ruby on Rails</p>
		<div class="containerskill">
			<div class="skills html60">60%</div>
			</div>
			<p>Git</p>
		<div class="containerskill">
		  	<div class="skills html80">80%</div>
			</div>
			<p>HTML/CSS/Javascript</p>
		<div class="containerskill">
		  	<div class="skills html80">80%</div>
			</div>
			<p>Heroku Deployment</p>
		<div class="containerskill">
		  	<div class="skills html40">40%</div>
			</div>
			<p>Openshift Kubernetes Cluster Deployment</p>
		<div class="containerskill">
			<div class="skills html60">60%</div>
			</div>
			<p>Agile/Scrum</p>
		<div class="containerskill">
			<div class="skills html60">60%</div>
			</div>
			<p>Selenium-Cucumber-Ruby (QA automation)</p>
		<div class="containerskill">
			<div class="skills html70">70%</div>
			</div>		
			<p>Katalon</p>	
	<h4>Personal Projects</h4>
		<P>
		<li><i>pametri.herokuapp.com ( under construction )</i></li>
		(07/2018 – Present)
		<li><i>sarya.herokuapp.com ( under construction )</i></li>
		(07/2018 – Present)
		<li><i>Citrakara ( api-citrakara.herokuapp.com/v1/paintings )</i></li>
		04/2018 – Present,  It is An mobile App that bridges Local unrecognized painter with Arts
		Lover, involved in Building Complete Feature of a Rails Api server
		</p>
	<h4>TOOLS</h4>
		Heroku, Postman, Git, Postgresql, Openshift Kubernetes Cluster, Forest-CMS,	Selenium - Cucumber, 
	</div>
</div>




</div>
